<banner>
	
</banner>
<div id="home-handline" ng-controller="homeCtrl">
	<img src="imgs/home-handline.gif"/>
	<p><img src="imgs/warn-wm.gif" alt="" />3M防霾口罩22.8元3只 1小时闪送</p>
</div>
<div class="home-items">
	<span id="">
		<div>优选水果</div>
		<span>更多&gt;</span>
	</span>
	<img src="http://img01.bqstatic.com//upload/activity/201611221806316.jpg@90Q.jpg" alt="" />
	<div class="home-list">
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">蜂觅·15度蜜梨</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">400-500g/盒</span>
			<div class="">
				<b>￥14.6</b>
				<span>￥16</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·徐香弥...</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">285g 3粒/盒</span>
			<div class="">
				<b>￥16.9</b>
				<span>￥26</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·赣南甜桔</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
			</p>
			<span class="margin-b">800-900g/袋</span>
			<div class="">
				<b>￥6.8</b>
				<span>￥8.5</span>
			</div>
			<i></i>
		</div>
	</div>
</div>
<div class="home-items">
	<span id="">
		<div>优选水果</div>
		<span>更多&gt;</span>
	</span>
	<img src="http://img01.bqstatic.com//upload/activity/201611221806316.jpg@90Q.jpg" alt="" />
	<div class="home-list">
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">蜂觅·15度蜜梨</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">400-500g/盒</span>
			<div class="">
				<b>￥14.6</b>
				<span>￥16</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·徐香弥...</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">285g 3粒/盒</span>
			<div class="">
				<b>￥16.9</b>
				<span>￥26</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·赣南甜桔</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
			</p>
			<span class="margin-b">800-900g/袋</span>
			<div class="">
				<b>￥6.8</b>
				<span>￥8.5</span>
			</div>
			<i></i>
		</div>
	</div>
</div>
<div class="home-items">
	<span id="">
		<div>优选水果</div>
		<span>更多&gt;</span>
	</span>
	<img src="http://img01.bqstatic.com//upload/activity/201611221806316.jpg@90Q.jpg" alt="" />
	<div class="home-list">
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">蜂觅·15度蜜梨</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">400-500g/盒</span>
			<div class="">
				<b>￥14.6</b>
				<span>￥16</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·徐香弥...</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">285g 3粒/盒</span>
			<div class="">
				<b>￥16.9</b>
				<span>￥26</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·赣南甜桔</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
			</p>
			<span class="margin-b">800-900g/袋</span>
			<div class="">
				<b>￥6.8</b>
				<span>￥8.5</span>
			</div>
			<i></i>
		</div>
	</div>
</div>
<div class="home-items">
	<span id="">
		<div>优选水果</div>
		<span>更多&gt;</span>
	</span>
	<img src="http://img01.bqstatic.com//upload/activity/201611221806316.jpg@90Q.jpg" alt="" />
	<div class="home-list">
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">蜂觅·15度蜜梨</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">400-500g/盒</span>
			<div class="">
				<b>￥14.6</b>
				<span>￥16</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·徐香弥...</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">285g 3粒/盒</span>
			<div class="">
				<b>￥16.9</b>
				<span>￥26</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·赣南甜桔</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
			</p>
			<span class="margin-b">800-900g/袋</span>
			<div class="">
				<b>￥6.8</b>
				<span>￥8.5</span>
			</div>
			<i></i>
		</div>
	</div>
</div>
<div class="home-items">
	<span id="">
		<div>优选水果</div>
		<span>更多&gt;</span>
	</span>
	<img src="http://img01.bqstatic.com//upload/activity/201611221806316.jpg@90Q.jpg" alt="" />
	<div class="home-list">
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">蜂觅·15度蜜梨</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">400-500g/盒</span>
			<div class="">
				<b>￥14.6</b>
				<span>￥16</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·徐香弥...</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
				<img src="imgs/warn-mz.gif" alt="" />
			</p>
			<span class="margin-b">285g 3粒/盒</span>
			<div class="">
				<b>￥16.9</b>
				<span>￥26</span>
			</div>
			<i></i>
		</div>
		<div class="home-list-item">
			<img class="margin-b" src="http://img01.bqstatic.com/upload/goods/000/000/5943/0000005943_47910.jpg@200w_200h_90Q"/>
			<b class="margin-b">爱鲜蜂·赣南甜桔</b>
			<p class="margin-b">
				<img src="imgs/warn-jx.gif" alt="" />
			</p>
			<span class="margin-b">800-900g/袋</span>
			<div class="">
				<b>￥6.8</b>
				<span>￥8.5</span>
			</div>
			<i></i>
		</div>
	</div>
</div>
